

.container{

    margin-top: 50px;
}


.row{

    margin-top: 50px;
    margin-bottom: 50px;
}

button{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 10px;
    background: rgb(10, 112, 95);
    font-family: 'Fugaz One', cursive;
    color: white;
    font-size: 20px;
}


#topic-display{

    display: flex;
    flex-flow: row wrap; /* OK elements, go as far as you can on one line, then wrap as you see fit */
    margin-right:  auto;
}